{% extends "aplicacion/index.html" %}

{% block titulo %}
<h1 class="masthead-heading mb-0">Avatar</h1>
{% endblock titulo %}

{% block contenido %}
<div class="tab-content py-5">
  <div class="tab-pane fade show active py-2" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
    <form class="w-100" action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        {{ form.as_table }}
      </div>
      <input type="submit" class="btn btn-primary btn-block mb-4" value="Actualizar Avatar">
    </form>
  </div>
 </div>
{% endblock contenido %}