{% extends "aplicacion/index.html" %}

{% block titulo %}
<h1 class="masthead-heading mb-0">Merchandising (Admin)</h1>
<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'merchandising' %}">Ver página de merchandising</a>
{% endblock titulo %}

{% block contenido %}
<table>
  <tr>
    <td width="200"><h2>Merchandising</h2></td>
    <td>
      <a href="{% url 'merchandising_create' %}" class="btn btn-primary btn-sm">
        <i class="fa fa-plus fa-lg" title="Crear"></i>
      </a>
    </td>
  </tr>
</table>
<table class="table table-bordered">
    <thead>
      <tr class="table-dark">
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Valoraciones</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio</th>
        <th scope="col">Descuento</th>
        <th scope="col">Delivery</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
{% for m in merchandising %}
      <tr>
        <th scope="row">{{ m.id }}</th>
        <td>{{ m.nombre }}</td>
        <td>{{ m.valoraciones }}</td>
        <td>{{ m.descripcion }}</td>
        <td>{{ m.precio }}</td>
        <td>{{ m.descuento }}</td>
        <td>{{ m.delivery }}</td>
        <td>
          <a
            href="{% url 'merchandising_update' m.id %}"
            class="btn btn-primary"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
            ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
          </a>
          <a
            href="{% url 'merchandising_delete' m.id %}"
            class="btn btn-danger"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
            ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
          </a>
        </td>
      </tr>
{% endfor %}
    </tbody>
</table>
{% endblock contenido %}