{% extends "aplicacion/index.html" %}

{% block titulo %}
<h1 class="masthead-heading mb-0">Formulario de Proyectos</h1>
{% endblock titulo %}

{% block contenido %}
<div class="tab-content">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form class="w-100" method="post">
            {% csrf_token %}
            <div class="mb-3">
            {{ form.as_table }}
            </div>
            <input type="submit" class="btn btn-primary btn-block mb-4" value="Guardar">
        </form>
    </div>
</div>
{% endblock contenido %}